<div class="relative w-full h-full bg-gray-300 flex flex-col justify-between pb-5">
  <div class="w-full  bg-gray-200 py-2 px-5 flex gap-5 items-center">
    <button (click)="backButtonClick()">
      <img class="h-6 md:hidden"  src="/assets/icons/back.png" alt="">
    </button>
    <div class="w-10 h-10 bg-yellow-700 rounded-full flex justify-center items-center font-bold text-xl text-gray-200">{{selectedUserToChat?.name?.slice(0,2)?.toUpperCase() }}</div>
    <p class="text-xl text-gray-500 font font-medium">{{selectedUserToChat?.name}}</p>
  </div>
  <div class="w-full h-full py-5 px-10 xl:px-44">
    <div #messageContainer class="w-full h-[90%] rounded-md bg-gray-200 overflow-y-auto p-5">
      @for (message of chatService.chatMessages(); track message.id) {
        @if(message.msgFrom === localStorageService.getItem('userId')){
          <div class="w-full flex justify-end ">
            <div class="max-w-[90%] p-3 lg:max-w-[70%] flex gap-3" >
              <div class="w-full flex-wrap bg-gray-100 min-h-12 rounded-br-2xl rounded-tl-2xl px-4 flex justify-center items-center ">
                <p class="">{{message.message}}</p>
              </div>
              <div class="w-10 h-8 rounded-full flex justify-center items-center">
                <p class="p-1 font-bold text-xs text-cyan-700 ">ME</p>
              </div>
            </div>
          </div>
        }@else {
          <div class="w-full flex justify-start">
            <div class="max-w-[90%] lg:max-w-[70%] p-3 flex gap-3" >
              <div class="w-10 h-8 rounded-full  flex justify-center items-center font-bold text-xs text-green-500">
                {{selectedUserToChat?.name?.slice(0,2)?.toUpperCase()}}
              </div>
              <div class="w-full flex-wrap bg-gray-100 min-h-12 rounded-bl-2xl rounded-tr-2xl p-4  flex justify-center items-center ">
                <p class="text-base">{{message.message}}</p>
              </div>
            </div>
           </div>
        }
        }
      </div>
  </div>
  <div class="absolute bottom-2 w-full flex gap-2 px-10 xl:px-44">
    <input [(ngModel)]="message" type="text" placeholder="Enter Message" class="w-full outline-none bg-gray-200 rounded-md px-4 py-2">
    <button (click)="sendMessage()" class="bg-green-600 px-10 py-2 rounded-md text-white">Send</button>
  </div>
</div>